*{
   box-sizing: border-box;
   margin: 0;
}

body{
   font-family: Arial, Helvetica, sans-serif;
   background-color: aliceblue;
   padding: 10px;
   color: rgb(105, 76, 133);
}

.container{
   margin: auto;
   max-width: 800px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.flex{
   display: flex;
}

input, button{
   margin: 0;
   border: 1px solid rgb(228, 215, 215);
}