*{
   box-sizing: border-box;
   margin: 0;
}

body{
   font-family: Arial, Helvetica, sans-serif;
   background-color: aliceblue;
   padding: 10px;
   color: rgb(105, 76, 133);
}

.container{
   margin: auto;
   max-width: 800px;
   display: flex;
}